* {
  color: #fff;
}

h2 {
	font-family: 'Helvetica', cursive;
	font-size: 40px;
	color: #100000;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px grey;
}

#heading {
	font-family: 'Helvetica', cursive;
	background-color:#bfbfbf;
	padding:10px;
	font-size:30px;
	margin:10px;
	border-radius:20px;
	color: #100000;
}

#heading h5 {
	font-family: 'Lemon', cursive;
	font-size:20px;
	color: #000;

}

#heading p {
	font-family: 'Nunito', sans-serif;
	font-size:24px;
	text-align:justify;
	color: #000;
}
#maps {
	font-family: 'Helvetica', cursive;
	background-color:#bfbfbf;
	padding:10px;
	font-size:30px;
	margin:10px;
	border-radius:20px;
	color: #100000;
}

#maps h5 {
	font-family: 'Lemon', cursive;
	font-size:20px;
	color: #000;

}
#maps p{
	font-family: 'Nunito', sans-serif;
	font-size:24px;
	text-align:left;
	color: #000;
}
.footer .fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}